html{
    font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
    border: 0;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E8E9EB;
    font-family: "WebParastoo", "Myriad Pro", "Roboto", "Helvetica-Neue", Arial, sans-serif;
    direction: rtl;
    border: 0;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.navbar {
    position: relative;
    max-width: 960px;
    width: 100%;
    margin: 5% auto 0;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.navbar .header {
    padding-right: 10px;
    transition: all .1s linear;
}
.navbar .header a {
    font-size: 2.5em;
    font-weight: bold;
    color: #292D2E;
    text-decoration: none;
    transition: all .1s linear;
}
.navbar .header a:hover,
.navbar .header a:active {
    color: #EF6461;
}
.navbar .header:hover,
.navbar .header:active {
    padding-right: 12px;
}